# JSON exercise

Download the data from [**here**](https://drive.google.com/file/d/1DGaX5AVfYhmWeb15lI-MzUbSKTYSz9fQ/view?usp=sharing) and answer following questions:
1. Find the 10 countries with most projects
2. What are top 10 sectors with projects?
3. Find the top 10 major project themes (using column 'mjtheme_namecode')
4. In 3. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [2]:
import pandas as pd

In [3]:
df = pd.read_json("world_bank_projects.json")

In [4]:
df.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,"[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

In [5]:
df.columns

Index(['sector', 'supplementprojectflg', 'projectfinancialtype', 'prodline',
       'mjtheme', 'idacommamt', 'impagency', 'project_name', 'mjthemecode',
       'closingdate', 'totalcommamt', 'id', 'mjsector_namecode', 'docty',
       'sector1', 'lendinginstr', 'countrycode', 'sector2', 'totalamt',
       'mjtheme_namecode', 'boardapprovaldate', 'countryshortname', 'sector4',
       'prodlinetext', 'productlinetype', 'regionname', 'status',
       'country_namecode', 'envassesmentcategorycode', 'project_abstract',
       'approvalfy', 'projectdocs', 'lendprojectcost', 'lendinginstrtype',
       'theme1', 'grantamt', 'themecode', 'borrower', 'sectorcode', 'sector3',
       'majorsector_percent', 'board_approval_month', 'theme_namecode',
       'countryname', 'url', 'source', 'projectstatusdisplay', 'ibrdcommamt',
       'sector_namecode', '_id'],
      dtype='object')

In [6]:
df[["countryname", "project_name"]]

,countryname,project_name
0,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement...
1,Republic of Tunisia,TN: DTF Social Protection Reforms Support
2,Tuvalu,Tuvalu Aviation Investment Project - Additiona...
3,Republic of Yemen,Gov't and Civil Society Organization Partnership
4,Kingdom of Lesotho,Second Private Sector Competitiveness and Econ...
...,...,...
495,Jamaica,Technological Scale Up for Youth-led Urban Orn...
496,Lao People's Democratic Republic,Lao Eight Poverty Reduction Support
497,Republic of Guinea,Second Emergency Agricultural Productivity Sup...
498,Republic of Indonesia,Sustainable Management of Agricultural Researc...
499,Republic of Kenya,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...

In [8]:
df1 = df[["countryname", "project_name"]]

In [11]:
type(df1)

pandas.core.frame.DataFrame

In [17]:
s2 = df1["countryname"].value_counts()

In [25]:
s3 = s2.head(10)
s3

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [26]:
s3.axes # This is the answer to 1).

[Index(['Republic of Indonesia', 'People's Republic of China',
        'Socialist Republic of Vietnam', 'Republic of India',
        'Republic of Yemen', 'Kingdom of Morocco', 'Nepal',
        'People's Republic of Bangladesh', 'Republic of Mozambique', 'Africa'],
       dtype='object')]

In [28]:
import json
with open("world_bank_projects.json") as f:
    world_bank_projects_json = json.load(f)
print(type(world_bank_projects_json))

<class 'list'>

In [31]:
df2 = pd.json_normalize(world_bank_projects_json, record_path = "sector", meta = ["project_name"])
df2

,Name,project_name
0,Primary education,Ethiopia General Education Quality Improvement...
1,Secondary education,Ethiopia General Education Quality Improvement...
2,Public administration- Other social services,Ethiopia General Education Quality Improvement...
3,Tertiary education,Ethiopia General Education Quality Improvement...
4,Public administration- Other social services,TN: DTF Social Protection Reforms Support
...,...,...
1400,Agricultural extension and research,Sustainable Management of Agricultural Researc...
1401,"Public administration- Agriculture, fishing an...",Sustainable Management of Agricultural Researc...
1402,"Agro-industry, marketing, and trade",Sustainable Management of Agricultural Researc...
1403,Urban Transport,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1404,Public administration- Transportation,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...

In [34]:
df2.columns

Index(['Name', 'project_name'], dtype='object')

In [35]:
df2["Name"].value_counts()

Other social services                               106
Central government administration                    82
Sub-national government administration               75
General agriculture, fishing and forestry sector     65
Health                                               63
                                                   ...
Railways                                              2
Credit Reporting and Secured Transactions             2
Housing finance                                       2
Non-compulsory health finance                         1
Other non-bank financial intermediaries               1
Name: Name, Length: 71, dtype: int64

In [36]:
s4 = df2["Name"].value_counts()
s4.head(10)

Other social services                                       106
Central government administration                            82
Sub-national government administration                       75
General agriculture, fishing and forestry sector             65
Health                                                       63
General public administration sector                         51
Rural and Inter-Urban Roads and Highways                     44
General water, sanitation and flood protection sector        39
Agricultural extension and research                          38
Public administration- Agriculture, fishing and forestry     36
Name: Name, dtype: int64

In [38]:
s5 = s4.head(10)
s5.axes # This is the answer to 2).

[Index(['Other social services', 'Central government administration',
        'Sub-national government administration',
        'General agriculture, fishing and forestry sector', 'Health',
        'General public administration sector',
        'Rural and Inter-Urban Roads and Highways',
        'General water, sanitation and flood protection sector',
        'Agricultural extension and research',
        'Public administration- Agriculture, fishing and forestry'],
       dtype='object')]

In [49]:

df3 = pd.json_normalize(world_bank_projects_json, record_path = "mjtheme_namecode", meta = ["project_name"])
df3

,code,name,project_name
0,8,Human development,Ethiopia General Education Quality Improvement...
1,11,,Ethiopia General Education Quality Improvement...
2,1,Economic management,TN: DTF Social Protection Reforms Support
3,6,Social protection and risk management,TN: DTF Social Protection Reforms Support
4,5,Trade and integration,Tuvalu Aviation Investment Project - Additiona...
...,...,...,...
1494,10,Rural development,Sustainable Management of Agricultural Researc...
1495,9,Urban development,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1496,8,Human development,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1497,5,Trade and integration,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1498,4,Financial and private sector development,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...

In [64]:
df4 = df3["code"].value_counts()
df4

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
3      15
Name: code, dtype: int64

In [54]:
df5 = df4.head(10)
df5

11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

In [76]:
code_list = df5.axes[0]
code_list

Index(['11', '10', '8', '2', '6', '4', '7', '5', '9', '1'], dtype='object')

In [77]:
df3[df3["code"] == "11"]

,code,name,project_name
1,11,,Ethiopia General Education Quality Improvement...
6,11,Environment and natural resources management,Tuvalu Aviation Investment Project - Additiona...
16,11,Environment and natural resources management,China Renewable Energy Scale-Up Program Phase II
28,11,Environment and natural resources management,Uttarakhand Disaster Recovery Project
31,11,Environment and natural resources management,Timor Leste Road Climate Resilience Project - ...
...,...,...,...
1451,11,Environment and natural resources management,IN: Development Policy Loan (DPL) to Promote I...
1462,11,Environment and natural resources management,Sustainable Production Systems and Biodiversity
1465,11,Environment and natural resources management,Sustainable Production Systems and Biodiversity
1477,11,,Water Supply and Sanitation Improvements for W...
1480,11,Environment and natural resources management,Revision and Alignment of NAP with UNCCD 10-ye...

In [85]:
a = df3[df3["code"] == "11"].iloc[0]["name"]
a.

AttributeError: 'str' object has no attribute 'isempty'

In [87]:
themeJsonList = df['mjtheme_namecode'].tolist()     
dfs=[json_normalize(themeJson)for themeJson in themeJsonList]

NameError: name 'themeJsonList' is not defined

In [88]:
# This is Emin's solution to 3).
themeJsonList = df['mjtheme_namecode'].tolist()    
dfs=[json_normalize(themeJson)for themeJson in themeJsonList]

NameError: name 'json_normalize' is not defined

In [ ]:
# Emin said that you can also use groupby for 3).

In [89]:
df['mjtheme_namecode']

0      [{'code': '8', 'name': 'Human development'}, {...
1      [{'code': '1', 'name': 'Economic management'},...
2      [{'code': '5', 'name': 'Trade and integration'...
3      [{'code': '7', 'name': 'Social dev/gender/incl...
4      [{'code': '5', 'name': 'Trade and integration'...
                             ...
495    [{'code': '4', 'name': 'Financial and private ...
496    [{'code': '8', 'name': 'Human development'}, {...
497    [{'code': '10', 'name': 'Rural development'}, ...
498    [{'code': '10', 'name': 'Rural development'}, ...
499    [{'code': '9', 'name': 'Urban development'}, {...
Name: mjtheme_namecode, Length: 500, dtype: object